.formContainer {
    margin: 10px 20px;
    display: flex !important;
    align-items: center;
    justify-content: center;
}
.formControle {
    margin: 0 24px;
    max-width: 50%;
    @media only screen and (max-width: 1024px) {
        max-width: 75%;
    }
    @media only screen and (max-width: 992px) {
        max-width: calc(100% - 138px);
    }
}
.header {
    font-family: var(--main-text);
    font-size: 24px;
    text-align: center;
    @media only screen and (max-width: 1024px) {
        font-size: 20px;
    }
    @media only screen and (max-width: 992px) {
        font-size: 18px;
    }
}
