@import "../../styles/index.scss";
.presentationAppeal {
    font-family: var(--main-header);
    font-size: 26px;
    margin-bottom: 14px;
}
.presentationText {
    color: var(--dark-grey);
    font-size: 22px;
    font-family: var(--main-text);
    @media only screen and (max-width: 1024px) {
        font-size: 20px;
    }
    @media only screen and (max-width: 645px) {
        font-size: 16px;
    }
}