:root {
    --navbar-color: linear-gradient(89.43deg, #1c58bf -0.29%, #3cda39 108.58%);
    --icon-color: #0d6efd;
    --delete-color: #ed2d2d;

    --main-header: Lobster;
    --sub-header: Bad Script;
    --main-text: El Messiri;

    --dark-grey: rgba(39, 36, 36, 0.856);
    --light-grey: rgba(39, 36, 36, 0.73);
    --dark-blue: #0e1e4d;
}