@import "../../styles/index.scss";
.invitationHeader {
    width: 80%;
    max-width: 860px;
    margin-top: 40px;
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    animation: 2s show ease;

    .saveTheDate {
        color: var(--light-grey);
    }
    .flowersImageTop {
        position: absolute;
        top: -300px;
        left: -20%;
    }
    .flowersImageBottom {
        position: absolute;
        right: 0;
    }

    .blurredWrapper {
        width: 88%;
        animation: 1s rising ease;
        display: flex;
        justify-content: center;
        opacity: 0.7;
        .flowersCircle {
            width: 80%;
        }
    }
    .newlywedsInfo {
        position: absolute;
        top: 42%;
        display: flex;
        flex-direction: column;
        align-items: center;

        .newlyweds {
            font-family: Lobster, sans-serif;
            font-size: 5vw;
            color: rgba(39, 36, 36, 0.856);
        }

        .commonDate {
            margin-top: 26px;
            font-family: Bad Script, sans-serif;
            color: var(--light-grey);
            font-size: 3vw;
            display: flex;
            align-items: center;
            flex-direction: column;
            .smallDate {
                font-size: 2.5vw;
                font-weight: bold;
            }
            .numberDate {
                margin: 0 10px;
                padding-top: 10px;
            }
            .subDate {
                display: inline-flex;
                font-size: 2.5vw;
                border-top: 1px solid var(--light-grey);
                border-bottom: 1px solid var(--light-grey);
            }
        }
    }
    @media only screen and (max-width: 1024px) {
        width: 94%;
        .flowersCircle {
            width: 100%;
        }
        .newlyweds {
            font-size: 6.5vw !important;
        }
    }
}

@keyframes show {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes rising {
    0% {
        -webkit-transform: scale(0.5, 0.5);
        transform: scale(0.5, 0.5);
    }
    100% {
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1);
    }
}
