@import "../../styles/index.scss";
.invitationHeader {
    width: 100%;
    max-width: 860px;
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    position: relative;
    animation: 2s show ease;
    .invitationHeaderContent {
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .saveTheDate {
        color: var(--light-grey);
    }
    .flowersImageTop {
        position: absolute;
        top: -35%;
        left: -30vw;
        transform: rotate(-45deg) scale(1, -1);
        width: 43%
    }
    .flowersImageTop1 {
        position: absolute;
        top: 130px;
        transform: rotate(-15deg) scale(-1, -1);
        left: -37vw;
        width: 38%
    }
    .flowersImageTop2 {
        position: absolute;
        top: -48px;
        transform: rotate(114deg);
        left: -21vw;
        width: 20%
    }
    .flowersImageTop3 {
        position: absolute;
        top: -48px;
        transform: rotate(114deg);
        left: -21vw;
        width: 20%
    }

    .flowersImageBottom {
        width: 45%;
        position: absolute;
        right: -30vw;
        bottom: 12%;
        transform: rotate(-36deg);
    }
    .flowersImageBottom1 {
        width: 30%;
        position: absolute;
        right: -35vw;
        bottom: 0;
        transform: rotate(-60deg) scale(-1, 1);
    }
    .coupleImage {
        position: absolute;
        right: -10vw;
        bottom: 0;
        margin-bottom: -80px;
        opacity: 0.9;
        width: 40%;
    }

    .blurredWrapper {
        width: 88%;
        animation: 1s rising ease;
        display: flex;
        justify-content: center;
        opacity: 0.65;
        .flowersCircle {
            width: 80%;
        }
    }
    .newlywedsInfo {
        position: absolute;
        top: 42%;
        display: flex;
        flex-direction: column;
        align-items: center;

        .newlyweds {
            font-family: Lobster, sans-serif;
            font-size: 4.3vw;
            color: #0e1e4d;
        }

        .commonDate {
            margin-top: 26px;
            font-family:
                Bad Script,
                sans-serif;
            color: var(--light-grey);
            font-size: 3vw;
            display: flex;
            align-items: center;
            flex-direction: column;
            .smallDate {
                font-size: 2.5vw;
                font-weight: bold;
            }
            .numberDate {
                margin: 0 10px;
                padding-top: 10px;
            }
            .subDate {
                display: inline-flex;
                font-size: 2.5vw;
                border-top: 1px solid var(--light-grey);
                border-bottom: 1px solid var(--light-grey);
            }
        }
    }
    @media only screen and (max-width: 1024px) {
        width: 94%;
        .flowersCircle {
            width: 100%;
        }
        .newlyweds {
            font-size: 6.5vw !important;
        }
    }
}

@keyframes show {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes rising {
    0% {
        -webkit-transform: scale(0.5, 0.5);
        transform: scale(0.5, 0.5);
    }
    100% {
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1);
    }
}
