@mixin transformEffect($angle: 0deg) {
    @keyframes scaling {
        0% {
            transform: scale(0.5, -0.5);
        }
        100% {
            transform: scale(1, -1);
        }
    }

    @keyframes rotating {
        0% {
            transform: rotate($angle);
        }
        100% {
            transform: rotate($angle);
        }
    }

    animation:
        scaling 1s linear infinite,
        rotating 1s linear infinite;
}
@keyframes rising {
    from { opacity: 0; }
    to { opacity: 1; }
  }
.invitationLayout {
    overflow-x: hidden;
}

.background {
    width: 100%;
    padding: 60px 0;
    display: flex;
    flex-direction: column;
    position: relative;
    animation: 2s show ease;
    align-items: center;
    height: 100vh;
    .centerFlowers {
        position: absolute;
        top: 150px;
        left: calc(50% - 20vw);
        width: 30vw;
        height: 30vw;
    }
    .leavesImageTop {
        position: absolute;
        transform: rotate(-13deg) scale(1, -1);
        bottom: 0;
        left: -15vw;
        width: 32vw;
        max-width: 470px;
    }
    .flowersImageTop {
        position: absolute;
        top: -28%;
        left: -12vw;
        transform: rotate(-45deg) scale(1, -1);
        width: 27%;
        animation: 1.2s rising ease;
    }
    .flowersImageTop1 {
        position: absolute;
        top: 104px;
        transform: rotate(-15deg) scale(-1, -1);
        left: -21vw;
        width: 30%;
        animation: 2s rising ease;
    }
    .flowersImageTop2 {
        position: absolute;
        top: -38px;
        transform: rotate(114deg);
        left: -17vw;
        width: 16%;
        animation: 1s rising ease;
    }
    .flowersImageTop3 {
        position: absolute;
        top: -48px;
        transform: rotate(114deg);
        left: -14vw;
        width: 16%;
        animation: 1.5s rising ease;
    }
    .flowersImageTop4 {
        position: absolute;
        top: 136px;
        transform: rotate(140deg) scale(1, 1);
        left: -7vw;
        width: 12%;
        animation: 1s rising ease;
    }
    .flowersImageBottom1 {
        width: 27%;
        position: absolute;
        right: -15vw;
        bottom: 24%;
        transform: rotate(-36deg);
        animation: 1.2s rising ease;
    }
    .flowersImageBottom2 {
        width: 30%;
        position: absolute;
        right: -24vw;
        bottom: 0;
        transform: rotate(-60deg) scale(-1, 1);
        animation: 2s rising ease;
    }
    .flowersImageBottom4 {
        position: absolute;
        right: -17vw;
        top: -6vw;
        transform: rotate(-160deg) scale(-1, 1);
        animation: 1.5s rising ease;
        width: 12%;
    }
    .flowersImageBottom5 {
        position: absolute;
        right: -23%;
        top: 25%;
        transform: rotate(-152deg);
        animation: 1.3s rising ease;
    }
    .flowersImageBottom {
        position: absolute;
        right: -11vw;
        top: -137px;
        z-index: 0;
        width: 33vw;
        max-width: 470px;
        transform: rotate(-37deg) scale(-1, 1);
        animation: 1s rising ease;
    }
    .coupleImage {
        position: absolute;
        right: 1vw;
        bottom: 0;
        opacity: 0.9;
        width: 28%;
        min-width: 180px;
        @media only screen and (max-width: 1200px) {
            width: 34%;
        }
        @media only screen and (max-width: 992px) {
            width: 41%;
        }
        @media only screen and (max-width: 1029px) {
            right: 0;
        }
        @media only screen and (max-width: 650px) {
            left: calc(50% - 90px);
        }
    }
    .groundLamps {
        top: -5vh;
        left: 51vh;
        width: 51vw;
        max-width: 700px;
        position: absolute;
        transform: rotate(7deg);
        @media only screen and (max-width: 1024px) {
            top: -4vh;
            left: 30%;
            width: 66vw;
            transform: rotate(8deg);
            min-width: 500px;
        }
    }
    @media only screen and (max-width: 1024px) {
        padding-top: 40px;
        .flowersCircle {
            width: 100%;
        }
        .newlyweds {
            font-size: 6.5vw !important;
        }
    }
    @media only screen and (max-width: 1650px) {
        .flowersImageBottom4 {
            right: -14vw;
            top: -9vw;
        }
        .flowersImageTop3 {
            left: -7vw;
        }
        .flowersImageBottom5 {
            right: -19%;
            top: 20%;
        }
    }
    @media only screen and (max-width: 1200px) {
        .flowersImageBottom1 {
            bottom: 28%;
        }
        .flowersImageBottom4 {
            right: -12vw;
            top: -10vw;
            width: 16%;
        }
        .flowersImageTop {
            top: -22%;
            left: -12vw;
            width: 32%;
        }
        .flowersImageTop1 {
            top: 183px;
            width: 34%;
        }
        .flowersImageTop3 {
            left: -7vw;
            width: 18%;
        }
        .flowersImageTop4 {
            top: -4px;
            left: -13vw;
            width: 15%;
        }
    }
    @media only screen and (max-width: 992px) {
        .flowersImageBottom {
            right: -18vw;
        }
        .flowersImageBottom1 {
            width: 36%;
            right: -19vw;
        }
        .flowersImageBottom2 {
            width: 32%;
        }
        .flowersImageBottom5 {
            top: 13%;
            width: 24%;
        }
        .leavesImageTop {
            left: -20vw;
        }
        .flowersImageTop {
            top: -17%;
            left: -11vw;
            width: 36%;
        }
        .flowersImageTop1 {
            left: -22vw;
            width: 37%;
            top: 219px;
        }
        .flowersImageTop3 {
            left: -4vw;
        }
        .flowersImageTop4 {
            left: -18vw;
        }
    }
    @media only screen and (max-width: 768px) {
        .flowersImageTop {
            top: -11%;
            left: -23vw;
            width: 38%;
        }
        .flowersImageTop1 {
            left: -26vw;
            width: 42%;
            top: 269px;
        }
        .flowersImageTop4 {
            top: 106px;
            left: -20vw;
            width: 18%;
        }
        .flowersImageBottom1 {
            width: 42%;
            right: -23vw;
        }
        .flowersImageBottom2 {
            width: 40%;
            right: -27vw;
        }
        .flowersImageBottom4 {
            right: -19vw;
            top: -7vw;
            width: 17%;
        }
        .flowersImageBottom5 {
            right: -91px;
        }
    }
    @media only screen and (max-width: 600px) {
        .flowersImageTop,
        .flowersImageTop4,
        .leavesImageTop,
        .flowersImageTop3,
        .flowersImageBottom,
        .flowersImageBottom4,
        .flowersImageBottom5,
        .flowersImageBottom2 {
            visibility: hidden;
        }
        .flowersImageBottom1 {
            top: 188px;
            right: -20vw;
        }

        .flowersImageTop1 {
            left: -18vw;
            top: 188px;
        }
    }
}

.blueBoxLayout {
    width: 100%;
    margin: 0 20px 40px 20px;
    border-radius: 0 30px 0 30px;
    padding: 50px 50px 60px 50px;
    text-align: center;
    background-color: #eef4fc;
    position: relative;
    .blueBoxBefore {
        left: 20px;
        top: 20px;
        position: absolute;
        border-top: 4px solid white;
        border-left: 4px solid white;
        width: 200px;
        height: 130px;
    }
    .blueBoxAfter {
        position: absolute;
        right: 20px;
        bottom: 20px;
        width: 200px;
        height: 130px;
        border-bottom: 4px solid white;
        border-right: 4px solid white;
    }
    @media only screen and (max-width: 1029px) {
        margin: 0 20px 15px 20px;
        border-radius: 0 20px 0 20px;
    }
    @media only screen and (max-width: 645px) {
        margin: 0 10px 15px 10px;
        border-radius: 0 15px 0 15px;
    }
}
.blueBoxLayout::before {
    content: "";
    position: absolute;
    border-left: 3px solid white;
    border-top: 3px solid white;
    top: 30px;
    left: 30px;
    width: 160px;
    height: 90px;
}
.blueBoxLayout::after {
    content: "";
    position: absolute;
    border-right: 3px solid white;
    border-bottom: 3px solid white;
    right: 30px;
    bottom: 30px;
    width: 160px;
    height: 90px;
}
